<!DOCTYPE html>
<html>
<head>
    <title>News App</title>
</head>
<body>

    <h1>News Application</h1>

    <nav>
        <a href="/">Home</a> |

        {% if user.is_authenticated %}
            <a href="/create/">Create Article</a> |
            {% if user.role == 'editor' %}
                <a href="/editor/">Editor Dashboard</a> |
            {% endif %}

        {% else %}
            <a href="/accounts/login/">Login</a> |
            <a href="/register/">Register</a> |
        {% endif %}
    </nav>

    <hr>

    {% block content %}
    {% endblock %}

</body>
</html>