{% extends "news/base.html" %}

{% block content %}
<div class="form-container">
    <h2>Create Newsletter</h2>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <p style="font-size: 14px; color: gray;">
            Leave publisher empty to publish as <strong>Independent</strong>.
        </p>

        <button type="submit" class="btn">
            Create Newsletter
        </button>
    </form>

    <p>
        <a href="{% url 'home' %}">Back to Home</a>
    </p>
</div>
{% endblock %}